.link {
  display: inline-block;
  padding: 20px 0;
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  text-decoration: none;
}

.activeLink {
  color: #3f51b5;
}

.link:not(:last-child) {
  margin-right: 30px;
}
